$color-primary: #4c52bc;
$color-primary-light: #dde2fe;
$color-secondary: #0e1b42;

$color-grey: #8186ad; // fro small text
$color-grey-blue: #f7f8fc;
$color-grey-blue-2: #c4e2e5;
$color-grey-blue-3: #f8f9fc;

$color-yellow: #f8d9af;
